<h1 class='header'> Post- It Notes </h1>

<div class ="button">
<%= link_to 'Add New', new_note_path%>
</div>

<% @notes.each do |note| %>
   <div class="card-container">
    <div class = "card">
      <div class = "card-body">
        <p><%= note.body %></p>
        <%= link_to 'View', note_path(note) %>
        <%= link_to 'Delete', note, method: :delete %>
      </div>
    </div>
  </div>
  <%end%>
